#detail-page {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .back-shadow {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

    .detail-container {
      padding: 0;
      display: flex;
      height: 95%;
      width: 100%;
      align-items: flex-end;
      justify-content: space-between;
      transition: all 0.3s ease;

      p {
        margin: 0;
      }

      i {
        transition: all 0.3s ease;
      }

      .movie-detail {
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: justify;
        justify-content: flex-end;

        .title {
          font-size: 2.5rem;
          margin-bottom: 5px;
          margin-bottom: 0;
        }

        .tagline {
          margin: 0;
        }

        .more-info-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          font-size: 1.2rem;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-top: 1rem;
          }
        }

        .genres,
        .more-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 70%;
          transition: all 0.3s ease;

          button {
            font-size: inherit;
            padding: 7px;
          }
        }

        .genres {
          span {
            display: flex;
            align-items: center;
          }

          i {
            font-size: 0.6rem;
            margin: 0 5px 0 0;
          }
        }
      }

      .collection {
        height: 17rem;
        overflow: hidden;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
        transition: all 0.3s ease;

        img {
          height: 100%;
        }
      }

      .collection:hover {
        transform: scale(1.07);
      }
    }
  }
}

.movie-trailer {
  padding-top: 5rem;
  height: calc(480px + 5rem);
  transition: all 0.3s ease;
}

.detail-credits {
  background-color: black;

  .container {
    padding: 0;

    .cast-and-directors {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding: 1.5rem 0;
      transition: all 0.3s ease;

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        margin-bottom: 0.2rem;
        
      }

      .cast {
        h3 {
          margin: 0;
        }

        .cast-list {
          .cast-items,
          li {
            display: grid;
            grid-template-columns: 1fr 1fr;

            h4 {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }

    .prod-companies {
      padding-bottom: 2rem;

      .companies-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 0;

        .companie-item {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;
          list-style: none;
          margin-right: 1rem;
          height: 5rem;
          width: 9rem;
          border-radius: 100px;
          margin-top: 1rem;
          text-align: center;
          color: $black;

          img {
            height: 80%;
            width: 80%;
            object-fit: scale-down;
          }
        }
      }
    }
  }
}

// transition--------------------------
//
.trailer-transition-enter {
  height: 0px;
  padding-top: 0px;
}

.trailer-transition-enter-active {
  padding-top: 5rem;
  height: calc(480px + 5rem);
  transition: all 300ms ease;
}

.trailer-transition-exit-active {
  padding-top: 0px;
  height: 0px;
  transition: all 300ms ease;
}

// reponsive--------------------------
//
@media (max-width: 1280px) {
  #detail-page {
    .back-shadow {
      .detail-container {
        padding: 0 20px;

        .movie-detail {
          margin-right: 20px;
        }

        .collection {
          height: 15rem;

          img {
            height: 100%;
          }
        }
      }
    }
  }

  .detail-credits {
    .container {
      padding: 0 20px;
    }
  }
}

@media (max-width: 720px) {
  #detail-page {
    .back-shadow {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 70%
      );

      .detail-container {
        height: 100%;
        .movie-detail {
          height: 100%;
          width: 100%;
          justify-content: flex-end;
          .title {
            font-size: 2rem;
            margin: 0;
          }

          .tagline {
            font-size: 1.5rem;
          }

          .more-info-container {
            height: auto;
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            font-size: 1rem;
            margin: 20px 0;

            .more-info {
              font-size: 1rem;

              .nav-button {
                padding: 5px;
                margin-top: 10px;
              }
            }
          }

          .genres,
          .more-info {
            width: 100%;
          }

          .genres {
            i {
              font-size: 0.6rem;
            }
          }
        }
        .collection {
          display: none;
        }
      }
    }
  }
}
