#movies {
  .hero-image {
    display: flex;
    align-items: center;
    margin-top: 0;
    position: relative;
    overflow: hidden;
    color: $white;
    height: 100vh;
    // width: 100vw;

    .hero-img-container {
      height: 100%;
      width: 100%;
      position: absolute;

      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .cover {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-bottom: 20px;

        .poster {
          height: 15rem;
          width: 10rem;
          object-fit: cover;
          overflow: hidden;
          margin-left: 30px;
          margin-bottom: 20px;
          border-radius: 5px;
          box-shadow: rgb(0 0 0 / 69%) 0px 15px 20px -10px;
          position: relative;

          img {
            height: 100%;
          }
        }

        .cover-info {
          display: flex;
          flex-direction: column;
          margin: 20px;
          padding-left: 20px;
          width: 60%;

          a {
            display: contents;
            text-decoration: none;
            width: 50%;
          }

          p {
            margin: 0;
          }

          .year-rating {
            display: flex;
            font-size: 1.2rem;

            span {
              margin-right: 20px;
            }
          }
        }
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      z-index: 1;

      button {
        font-size: 1.5rem;
        border: none;
        outline: none;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        opacity: 0.1;
        cursor: pointer;
        background-color: $black;
        margin: 40px;
        transition: all 0.3s ease-out;
        color: $white;
      }

      button:hover {
        opacity: 0.8;
        transform: scale(1.05);
      }
    }
  }
  .hero-image:hover button {
    opacity: 0.4;
  }
}

// reponsive--------------------------------------
//

@media (max-width: 1280px) {
  #movies {
    .hero-image {
      height: 60vh;
    }
  }
}

@media (max-width: 720px) {
  #movies {
    .hero-image {
      .cover {
        padding-left: 0px;

        .poster {
          display: none;
        }

        .cover-info {
          p {
            display: none;
          }
        }
      }

      .controls {
        button {
          height: 40px;
          width: 40px;
          cursor: pointer;
          margin: 10px;
        }
      }
    }
  }
}

//
// animation----------------------------------------
//
.hero-img-transition-enter {
  position: absolute;
  opacity: 0;
}

.hero-img-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease;
}

.hero-img-transition-exit {
  position: absolute;
}

.hero-img-transition-exit-active {
  opacity: 0;
  transition: all 300ms ease;
}
