#movies {
  .movies-section,
  .movies-list {
    padding-bottom: 40px;
    min-height: 90vh;
  }

  .movies-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: 13.3rem 13.3rem 13.3rem 13.3rem 13.3rem;
    justify-content: space-between;
    grid-gap: 20px;
    padding: 0;

    .movie {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      object-fit: cover;
      height: 20rem;
      border-radius: 5px;
      box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px;
      transition: all 0.3s ease-out;

      img {
        height: 100%;
        transition: all 0.3s ease-out;
      }

      .movie-resume {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
      }

      .overview {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 100%;
        opacity: 0;
        overflow: auto;
        color: $white;
        transition: all 0.3s ease-out;

        .overview-container {
          margin: 15px;

          .rating {
            height: 25px;
            width: 25px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
          }

          h4 {
            font-size: 1.2rem;
            margin: 5px 0;
          }
        }
      }

      :hover .overview {
        opacity: 1;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 20%,
          rgba(0, 0, 0, 0.5) 60%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }

    .movie:hover {
      transform: scale(1.07);
    }
  }

  .load-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 60%;
    font-size: 1.5rem;

    button {
      text-decoration: none;
      padding: 5px 25px;
      font-size: 1.6rem;
      border: none;
      cursor: pointer;
      background: transparent;
      color: $white;
      transition: all 0.3s ease-out;
    }

    button:hover {
      transform: scale(1.3);
    }

    button:active {
      filter: brightness(0.8);
    }
  }

  .collection {
    .back-shadow {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    .collection-info {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1200px) {
  #movies {
    .movies-container {
      margin: auto;
      grid-template-columns: auto auto auto auto;
      // grid-gap: 40px;
      justify-content: space-between;

      .movie {
        height: 32vw;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  #movies {
    .movies-container {
      grid-template-columns: auto auto;

      .movie {
        height: 65vw;
      }
    }
  }
}
