#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .signup-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .singup-input {
      display: flex;
      flex-direction: column;
      
      input {
        border-radius: 2rem;
        border: solid 1px #000;
        outline: none;
        padding: 0.5rem;
      }

      label {
        margin-bottom: 5px;
      }
    }

    .controls-buttons {
      margin: 5px auto;
      display: flex;
      justify-content: space-between;
      width: 30%;
    }
  }
}
