#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .signup-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .input {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }
    }

    .controls-buttons {
      margin: 5px auto;
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
  }
}
