@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

.drop-out {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 720px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.original {
  background: linear-gradient(to bottom, #1c1c35 0%, #1c1c35 50%, #000 100%);
  color: #fff;
}
.original #detail-page .back-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 60%, #000 90%);
}
.original #detail-page .more-info button {
  color: #fff;
  border: solid 1px #ffd32a;
}
.original #detail-page i {
  color: #ffd32a;
}
.original .movie-trailer,
.original .detail-credits {
  background-color: #000;
}
.original #header i {
  color: #ffd32a;
}
.original #header .controls a {
  color: #fff;
}
.original #header .controls .search-bar {
  border: solid 2px #ffd32a;
}
.original #header .controls .search-bar:focus {
  width: 100%;
  background-color: #fff;
  border: solid 3px #ffd32a;
  color: #000;
}
.original #movies .hero-image .cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 60%, #1c1c35 90%);
  color: #fff;
}
.original #movies .hero-image .cover a {
  color: #fff;
}
.original #movies .hero-image .cover i {
  color: #ffd32a;
}
.original #movies .collection {
  color: #fff;
}
.original #movies .collection .collection-info h1 {
  color: #ffd32a;
}
.original #movies .load-controls button:hover i {
  color: #ffd32a;
}
.original #footer .contact a:hover {
  color: #ffd32a;
}
.original #base-button a,
.original #base-button button {
  color: #fff;
}
.original #base-button .nav-button {
  background: transparent;
}
.original #base-button .light-button,
.original #base-button .alt-button {
  background-color: #1c1c35;
  color: #fff;
}
.original #base-button a:hover i,
.original #base-button button:hover i {
  color: #fff;
}
.original #base-button a:hover,
.original #base-button button:hover {
  background-color: #ffd32a;
  color: #fff;
}
.original .light-button:hover {
  color: #ffd32a;
}
.original .dropdown-menu {
  background-color: #1c1c35;
  color: #fff;
}
.original .dropdown-menu i {
  color: #fff !important;
}
.original .dropdown-menu .dropdown-item:hover {
  background-color: #ffd32a;
}
.original #the-spinner .lds-dual-ring:after {
  border: 6px solid #ffd32a;
  border-color: #ffd32a transparent #ffd32a transparent;
}
@media (max-width: 720px) {
  .original #detail-page {
    background: #000 !important;
  }
  .original #detail-page .movil-img ::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 70%);
  }
}

.green {
  background: linear-gradient(to bottom, #184d47 0%, #184d47 50%, #000 100%);
  color: #fff;
}
.green #detail-page .back-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 60%, #000 90%);
}
.green #detail-page .more-info button {
  color: #fff;
  border: solid 1px #f55c47;
}
.green #detail-page i {
  color: #f55c47;
}
.green .movie-trailer,
.green .detail-credits {
  background-color: #000;
}
.green #header i {
  color: #f55c47;
}
.green #header .controls a {
  color: #fff;
}
.green #header .controls .search-bar {
  border: solid 2px #f55c47;
}
.green #header .controls .search-bar:focus {
  width: 100%;
  background-color: #fff;
  border: solid 3px #f55c47;
  color: #000;
}
.green #movies .hero-image .cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 60%, #184d47 90%);
  color: #fff;
}
.green #movies .hero-image .cover a {
  color: #fff;
}
.green #movies .hero-image .cover i {
  color: #f55c47;
}
.green #movies .collection {
  color: #fff;
}
.green #movies .collection .collection-info h1 {
  color: #f55c47;
}
.green #movies .load-controls button:hover i {
  color: #f55c47;
}
.green #footer .contact a:hover {
  color: #f55c47;
}
.green #base-button a,
.green #base-button button {
  color: #fff;
}
.green #base-button .nav-button {
  background: transparent;
}
.green #base-button .light-button,
.green #base-button .alt-button {
  background-color: #184d47;
  color: #fff;
}
.green #base-button a:hover i,
.green #base-button button:hover i {
  color: #fff;
}
.green #base-button a:hover,
.green #base-button button:hover {
  background-color: #f55c47;
  color: #fff;
}
.green .light-button:hover {
  color: #f55c47;
}
.green .dropdown-menu {
  background-color: #184d47;
  color: #fff;
}
.green .dropdown-menu i {
  color: #fff !important;
}
.green .dropdown-menu .dropdown-item:hover {
  background-color: #f55c47;
}
.green #the-spinner .lds-dual-ring:after {
  border: 6px solid #f55c47;
  border-color: #f55c47 transparent #f55c47 transparent;
}
@media (max-width: 720px) {
  .green #detail-page {
    background: #000 !important;
  }
  .green #detail-page .movil-img ::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 70%);
  }
}

.pink {
  background: linear-gradient(to bottom, #ffcccc 0%, #ffcccc 50%, #ff8686 100%);
  color: #000;
}
.pink #detail-page .back-shadow {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 60%, #ff8686 90%);
}
.pink #detail-page .more-info button {
  color: #000;
  border: solid 1px #00ead3;
}
.pink #detail-page i {
  color: #00ead3;
}
.pink .movie-trailer,
.pink .detail-credits {
  background-color: #ff8686;
}
.pink #header i {
  color: #00ead3;
}
.pink #header .controls a {
  color: #000;
}
.pink #header .controls .search-bar {
  border: solid 2px #00ead3;
}
.pink #header .controls .search-bar:focus {
  width: 100%;
  background-color: #fff;
  border: solid 3px #00ead3;
  color: #000;
}
.pink #movies .hero-image .cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 60%, #ffcccc 90%);
  color: #000;
}
.pink #movies .hero-image .cover a {
  color: #000;
}
.pink #movies .hero-image .cover i {
  color: #00ead3;
}
.pink #movies .collection {
  color: #fff;
}
.pink #movies .collection .collection-info h1 {
  color: #00ead3;
}
.pink #movies .load-controls button:hover i {
  color: #00ead3;
}
.pink #footer .contact a:hover {
  color: #00ead3;
}
.pink #base-button a,
.pink #base-button button {
  color: #fff;
}
.pink #base-button .nav-button {
  background: transparent;
}
.pink #base-button .light-button,
.pink #base-button .alt-button {
  background-color: #ffcccc;
  color: #000;
}
.pink #base-button a:hover i,
.pink #base-button button:hover i {
  color: #fff;
}
.pink #base-button a:hover,
.pink #base-button button:hover {
  background-color: #00ead3;
  color: #fff;
}
.pink .light-button:hover {
  color: #00ead3;
}
.pink .dropdown-menu {
  background-color: #ffcccc;
  color: #000;
}
.pink .dropdown-menu i {
  color: #000 !important;
}
.pink .dropdown-menu .dropdown-item:hover {
  background-color: #00ead3;
}
.pink #the-spinner .lds-dual-ring:after {
  border: 6px solid #00ead3;
  border-color: #00ead3 transparent #00ead3 transparent;
}
@media (max-width: 720px) {
  .pink #detail-page {
    background: #ff8686 !important;
  }
  .pink #detail-page .movil-img ::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ff8686 70%);
  }
}
.pink #movies .hero-image .cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0.555) 70%, #ffcccc 90%);
}
.pink #movies .hero-image .cover i {
  color: #00ead3;
}
.pink #detail-page {
  font-weight: 600;
}
.pink #detail-page button {
  font-weight: 600;
}
.pink #detail-page .tagline {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.pink #detail-page .back-shadow {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.5) 60%, #ffcccc 90%);
}
.pink .movie-trailer,
.pink .detail-credits {
  background-color: #ffcccc;
}
@media (max-width: 720px) {
  .pink #detail-page {
    background: #ffcccc !important;
  }
  .pink #detail-page .movil-img ::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #ffcccc 70%);
  }
}

#movies .movies-section,
#movies .movies-list {
  padding-bottom: 40px;
  min-height: 90vh;
}
#movies .movies-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 220px;
  justify-content: space-between;
  grid-gap: 30px;
  padding: 0;
}
#movies .movies-container .movie {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
  height: 330px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px;
  transition: all 0.3s ease-out;
}
#movies .movies-container .movie img {
  height: 330px;
  width: 220px;
  transition: all 0.3s ease-out;
}
#movies .movies-container .movie .movie-resume {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
#movies .movies-container .movie .overview {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 100%;
  opacity: 0;
  overflow: auto;
  color: #fff;
  transition: all 0.3s ease-out;
}
#movies .movies-container .movie .overview .overview-container {
  margin: 15px;
}
#movies .movies-container .movie .overview .overview-container .rating {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
#movies .movies-container .movie .overview .overview-container h4 {
  font-size: 1.2rem;
  margin: 5px 0;
}
#movies .movies-container .movie :hover .overview {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.5) 60%, black 100%);
}
#movies .movies-container .movie:hover {
  transform: scale(1.07);
}
#movies .load-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 60%;
  font-size: 1.5rem;
}

@media (max-width: 1280px) {
  #movies .movies-container {
    margin: auto;
    grid-template-columns: auto auto auto auto;
  }
  #movies .movies-container .movie {
    height: 300px;
    width: 200px;
  }
  #movies .movies-container .movie img {
    height: 300px;
    width: 200px;
  }
}
@media (max-width: 900px) {
  #movies .movies-container {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 720px) {
  #movies .movies-container {
    grid-gap: 10px !important;
  }
  #movies .movies-container .movie {
    height: 150px;
    width: auto;
  }
  #movies .movies-container .movie img {
    height: 150px;
    width: auto;
  }
}
#movies .hero-image {
  display: flex;
  align-items: center;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: 100vh;
}
#movies .hero-image .hero-img-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
#movies .hero-image .hero-img-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#movies .hero-image .hero-img-container .cover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 20px;
}
#movies .hero-image .hero-img-container .cover .poster {
  height: 15rem;
  width: 10rem;
  object-fit: cover;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 15px 20px -10px;
  position: relative;
}
#movies .hero-image .hero-img-container .cover .poster img {
  height: 100%;
}
#movies .hero-image .hero-img-container .cover .cover-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 20px;
  width: 60%;
}
#movies .hero-image .hero-img-container .cover .cover-info a {
  display: contents;
  text-decoration: none;
  width: 50%;
}
#movies .hero-image .hero-img-container .cover .cover-info p {
  margin: 0;
}
#movies .hero-image .hero-img-container .cover .cover-info .year-rating {
  display: flex;
  font-size: 1.2rem;
}
#movies .hero-image .hero-img-container .cover .cover-info .year-rating span {
  margin-right: 20px;
}
#movies .hero-image .controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
}
#movies .hero-image .controls button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
  background-color: #000;
  margin: 40px;
  transition: all 0.3s ease-out;
  color: #fff;
}
#movies .hero-image .controls button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
#movies .hero-image:hover button {
  opacity: 0.4;
}

.hero-img-transition-enter {
  position: absolute;
  opacity: 0;
}

.hero-img-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease;
}

.hero-img-transition-exit {
  position: absolute;
}

.hero-img-transition-exit-active {
  opacity: 0;
  transition: all 300ms ease;
}

@media (max-width: 1280px) {
  #movies .hero-image {
    height: 60vh;
  }
  #movies .hero-image .cover {
    padding: 30px !important;
  }
  #movies .hero-image .cover .poster {
    margin-left: 0 !important;
  }
}
@media (max-width: 720px) {
  #movies .hero-image .cover {
    padding-left: 0px;
  }
  #movies .hero-image .cover .poster {
    display: none;
  }
  #movies .hero-image .cover .cover-info p {
    display: none;
  }
  #movies .hero-image .controls button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 10px;
  }
}
#detail-page {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#detail-page .movil-img {
  display: none;
}
#detail-page .back-shadow {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
#detail-page .back-shadow .detail-container {
  padding: 0;
  display: flex;
  height: 95%;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  transition: all 0.3s ease;
}
#detail-page .back-shadow .detail-container p {
  margin: 0;
}
#detail-page .back-shadow .detail-container i {
  transition: all 0.3s ease;
}
#detail-page .back-shadow .detail-container .detail-info {
  width: 80%;
  text-align: justify;
  justify-content: flex-end;
}
#detail-page .back-shadow .detail-container .detail-info .detail-info-container {
  font-size: 1.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
#detail-page .back-shadow .detail-container .detail-info .detail-info-container div {
  margin-top: 1rem;
}
#detail-page .back-shadow .detail-container .detail-info .title h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-bottom: 0;
}
#detail-page .back-shadow .detail-container .detail-info .tagline h2 {
  margin: 0;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul,
#detail-page .back-shadow .detail-container .detail-info .more-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  transition: all 0.3s ease;
  padding: 0;
  margin: 0;
  list-style: none;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul li,
#detail-page .back-shadow .detail-container .detail-info .more-info ul li {
  margin: 0;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul li #base-button,
#detail-page .back-shadow .detail-container .detail-info .more-info ul li #base-button {
  margin: 0;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul li #base-button button,
#detail-page .back-shadow .detail-container .detail-info .more-info ul li #base-button button {
  font-size: inherit;
  padding: 7px;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul li {
  display: flex;
  align-items: center;
}
#detail-page .back-shadow .detail-container .detail-info .genres ul li i {
  font-size: 0.6rem;
  margin: 0 5px 0 0;
}
#detail-page .back-shadow .detail-container .collection {
  height: 270px;
  min-width: 180px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
#detail-page .back-shadow .detail-container .collection img {
  height: 100%;
}
#detail-page .back-shadow .detail-container .collection:hover {
  transform: scale(1.07);
}

.movie-trailer {
  padding: 5rem 0;
  height: calc(480px + 10rem);
  transition: all 0.3s ease;
  position: relative;
}

.detail-credits {
  position: relative;
  background-color: black;
}
.detail-credits .container {
  padding: 0;
}
.detail-credits .container .cast-and-directors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 1.5rem 0;
  transition: all 0.3s ease;
}
.detail-credits .container .cast-and-directors ul {
  padding: 0;
}
.detail-credits .container .cast-and-directors li {
  list-style: none;
  margin-bottom: 0.2rem;
}
.detail-credits .container .cast-and-directors .cast h3 {
  margin: 0;
}
.detail-credits .container .cast-and-directors .cast .cast-list .cast-items,
.detail-credits .container .cast-and-directors .cast .cast-list li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.detail-credits .container .cast-and-directors .cast .cast-list .cast-items h4,
.detail-credits .container .cast-and-directors .cast .cast-list li h4 {
  margin: 0.5rem 0;
}
.detail-credits .container .prod-companies {
  padding-bottom: 2rem;
}
.detail-credits .container .prod-companies .companies-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}
.detail-credits .container .prod-companies .companies-list .companie-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  list-style: none;
  height: 5rem;
  width: 7rem;
  border-radius: 100px;
  text-align: center;
  color: #000;
  padding: 5px;
  margin-top: 1rem;
  margin-right: 1rem;
}
.detail-credits .container .prod-companies .companies-list .companie-item img {
  height: 80%;
  width: 80%;
  object-fit: scale-down;
}

.trailer-transition-enter {
  height: 0px;
  padding: 0px;
}

.trailer-transition-enter-active {
  padding: 5rem 0;
  height: 500px;
  transition: all 300ms ease;
}

.trailer-transition-exit-active {
  padding: 0px;
  height: 0px;
  transition: all 300ms ease;
}

@media (max-width: 1280px) {
  #detail-page .back-shadow .detail-container {
    padding: 0 20px;
  }
  #detail-page .back-shadow .detail-container .movie-detail {
    margin-right: 20px;
  }
  #detail-page .back-shadow .detail-container .collection img {
    height: 100%;
  }

  .detail-credits .container {
    padding: 0 20px;
  }
}
@media (max-width: 720px) {
  #detail-page {
    height: auto !important;
    background: #000 !important;
  }
  #detail-page .movil-img {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #detail-page .movil-img ::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 70%);
  }
  #detail-page .movil-img img {
    height: 50vh;
  }
  #detail-page .back-shadow {
    position: relative;
  }
  #detail-page .back-shadow .detail-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #detail-page .back-shadow .detail-container .detail-info {
    width: 100% !important;
  }
  #detail-page .back-shadow .detail-container .detail-info .more-info ul,
#detail-page .back-shadow .detail-container .detail-info .genres ul {
    width: 100%;
  }
  #detail-page .back-shadow .detail-container .detail-info .more-info ul li,
#detail-page .back-shadow .detail-container .detail-info .genres ul li {
    margin-right: 10px;
    margin-top: 10px;
  }
  #detail-page .back-shadow .detail-container .detail-info .title {
    font-size: 2rem;
    margin: 0;
  }
  #detail-page .back-shadow .detail-container .detail-info .title h1 {
    margin: 0;
  }
  #detail-page .back-shadow .detail-container .detail-info .tagline {
    font-size: 1.5rem;
  }
  #detail-page .back-shadow .detail-container .collection {
    display: none;
  }

  .detail-credits .container .cast-and-directors {
    width: 100%;
  }
}
#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#signup-container .signup-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
#signup-container .signup-controls .singup-input {
  display: flex;
  flex-direction: column;
}
#signup-container .signup-controls .singup-input input {
  border-radius: 2rem;
  border: solid 1px #000;
  outline: none;
  padding: 0.5rem;
}
#signup-container .signup-controls .singup-input label {
  margin-bottom: 5px;
}
#signup-container .signup-controls .controls-buttons {
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#not-found {
  padding-top: 100px;
  min-height: 100vh;
  overflow: hidden;
}

#movies .collection {
  min-height: 100vh;
}
#movies .collection .back-shadow {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 50%, black 100%);
}
#movies .collection .collection-info {
  margin-top: 70px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.2rem;
}
#movies .collection .movies-list {
  min-height: auto;
}

#footer {
  height: 8rem;
  border-top: solid 1px #fff;
  font-size: 1.2rem;
  padding: 0;
  margin-bottom: auto;
}
#footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
}
#footer .container .contact {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer .container .contact li {
  margin-right: 50px;
}
#footer .container .contact a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
#footer .container .credits img {
  height: 5.5rem;
  width: 7rem;
}
#footer .container .credits span {
  margin: 0 10px;
}

@media (max-width: 1200px) {
  #footer {
    font-size: 1rem;
  }
  #footer .container .contact a {
    font-size: 1.5rem;
  }
  #footer .container .credits img {
    height: 4rem;
  }
}
@media (max-width: 700px) {
  #footer {
    font-size: 0.9rem;
  }
  #footer .container {
    grid-gap: 10px;
  }
  #footer .container .contact {
    width: 100%;
    justify-content: space-between;
  }
  #footer .container .contact li {
    margin: 5px;
  }
  #footer .container .contact li a {
    font-size: 1.2rem;
  }
  #footer .container .credits img {
    height: 3rem;
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 5;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
}
#header i {
  transition: all 0.3s ease;
}
#header .navbar {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 10px;
}
#header .navbar .logo a {
  display: flex;
  align-items: center;
  font-size: 3rem;
  text-decoration: none;
}
#header .navbar .logo span {
  font-size: 1.5rem;
  margin-left: 5px;
  color: #fff;
}
#header .navbar .controls {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
#header .navbar .controls ul {
  list-style: none;
}
#header .navbar .controls .nav-item {
  margin: 0 10px;
}
#header .navbar .controls .nav-item a {
  text-decoration: none;
}
#header .navbar .controls .search-bar {
  width: 60%;
  height: 2.2rem;
  border-radius: 2.2rem;
  outline: none;
  padding: 0 1rem;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  transition: all 0.3s ease-out;
}
#header .navbar .controls .movil-menu {
  display: none;
}

@media (max-width: 1280px) {
  #header .navbar .logo a {
    font-size: 3rem;
  }
  #header .navbar .logo span {
    display: none;
  }
}
@media (max-width: 720px) {
  #header .navbar {
    margin: 0;
  }
  #header .navbar .nav-search {
    width: 50vw;
  }
  #header .navbar .nav-item {
    display: none;
  }
  #header .navbar .movil-menu {
    display: list-item !important;
  }
  #header .navbar .movil-menu .nav-item {
    display: list-item;
  }
}
#card {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  grid-gap: 10px;
  height: 20rem;
  width: 40rem;
  background-color: #f1f2f3;
  padding: 25px;
  border-radius: 10px;
  color: #000;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.7);
}
#card h1,
#card p {
  margin: 0 0 10px;
}
#card .children {
  height: 100%;
}

#base-button a,
#base-button button {
  padding: 10px;
  border-radius: 2rem;
  transition: all 0.3s ease-out;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
#base-button .select-button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
}
#base-button .select-button select {
  position: absolute;
  transform: translateY(0);
  left: 0;
  width: 100%;
  opacity: 0;
  outline: none;
  font-family: inherit;
  border: none;
  padding: 5px 10px;
  overflow: scroll;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#base-button .alt-button {
  font-family: inherit;
}

.light-button {
  text-decoration: none;
  padding: 5px 25px;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #fff;
  transition: all 0.3s ease-out;
}

.light-button:hover {
  transform: scale(1.3);
}

.light-button:active {
  filter: brightness(0.8);
}

#back-button {
  position: absolute;
  left: 20px;
  top: 4.5rem;
  z-index: 2;
}
#back-button button {
  padding-left: 10px;
}
#back-button i {
  text-shadow: 1px 1px 5px #000;
  font-size: 2rem;
}

#the-spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#the-spinner .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#the-spinner .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#the-spinner .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  list-style-type: none;
  position: absolute;
  width: 200px;
  margin-top: 5px;
  transform: translateX(-70%);
  font-family: inherit;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 2px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}
.dropdown-menu ul {
  padding: 1rem;
  width: 100%;
}
.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.dropdown-menu .dropdown-item .icon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
}
.dropdown-menu .dropdown-item .icon-right {
  margin-left: auto;
}
.dropdown-menu .dropdown-item:hover {
  cursor: pointer;
}

.dropdown-enter {
  opacity: 0;
  transform: scale(0.9);
}

.dropdown-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}

.dropdown-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.1s;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 300ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 300ms ease;
}

/*# sourceMappingURL=index.css.map */
